<div class="container">
  <div class="row" id="center">
    <div class="col-6">
      <h2>エリア詳細</h2>
      <div class="card">
        <div class="card-img-top text-center">
          <%= attachment_image_tag @area, :image, fallback: "no_image.jpg",size: '200x150' %>
        </div>
        <div class="card-body">
          <h4 class="card-title">
            <%= @area.name %>
          </h4>
          <p class="card-text">
            <%= @area.description %>
          </p>
        </div>
      </div>
    </div>
    <div class="col-6">
      <h2 class="text-center">目的</h2>
      <div class="album">
        <% @purposes.each do |purpose| %>
        <div class="card">
          <div class="card-imag-top text-center">
            <%= attachment_image_tag purpose, :image, fallback: "no_image.jpg", size: '200x150' %>
          </div>
          <div class="card-body">
            <p class="text-center">
              <%= link_to eria_purpose_path(@area.id, purpose.id) do %>
              <%= purpose.name %>
              <% end %>
            </p>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>