<div class="container">
  <h2 id="center">エリア詳細</h2>
  <div class="row" id="center">
    <div class="col">
      <div class="card h-100">
          <div class="card-img-top text-center">
            <%= attachment_image_tag @area, :image, fallback: "no_image.jpg",size: '300x200' %>
          </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h4 class="card-title">
            <%= @area.name %>
          </h4>
          <p class="card-text">
            <%= @area.description %>
          </p>
        </div>
      </div>
    </div>
  </div>
  <h2 class="text-center pt-3 pb-3">目的</h2>
  <div class="row">
    <% @purposes.each do |purpose| %>
      <div class="col">
        <div class="card">
          <div class="card-imag-top text-center">
            <%= attachment_image_tag purpose, :image, fallback: "no_image.jpg", size: '200x150' %>
          </div>
          <div class="card-body">
            <p class="text-center">
              <%= link_to eria_purpose_path(@area.id, purpose.id) do %>
              <%= purpose.name %>
              <% end %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>