<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 id="center">検索結果</h1>
      <table class="table">
        <thead>
          <tr id="center">
            <th>エリア名</th>
            <th>目的</th>
            <th>場所名</th>
            <th>いいね数</th>
            <th>コメント件数</th>
          </tr>
        </thead>
        <% @spots.each do |spot| %>
        <tbody>
          <tr id="center">
            <th><%= spot.area.name %></th>
            <th><%= spot.purpose.name %></th>
            <th id="font">
              <%= link_to spot_path(spot.id) do %>
              <%= spot.name %>
              <% end %>
            </th>
            <th><%= spot.favorites.count %></th>
            <th><%= spot.spot_comments.count %></th>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>