<h1 id="center">エリア一覧</h1>
<h2 id="center">
  <%= link_to "追加",new_admin_area_path %>
</h2>
<div class="album" id="center">
  <div class="container">
    <div class="row">
      <% @areas.each do |area| %>
      <div class="col-md-4">
        <div class="card md-4">
          <div class="card-imag-top text-center">
            <%= attachment_image_tag area, :image, fallback: "no_image.jpg", size: '300x200' %>
          </div>
          <div class="card-body">
            <p class="card-text-center" id="font">
              <%= area.name %>
              <%= link_to "編集",edit_admin_area_path(area.id) %>
              <%= link_to "削除",admin_area_path(area.id), method: :delete %>
            </p>
            <p><%= area.description %></p>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>