<div class="row">
  <div class="col-md-12 text-center">
    <h1>エリア追加</h1>
    <%= form_with model: @area, url: admin_areas_path(@area), local:true do |f| %>
    <div class="field form-group col-xs-12">
      <%= f.label :image_id, "エリア画像" %>
      <%= f.attachment_field :image %>
    </div>
    <div class="field form-group col-xs-12">
      <%= f.label :name, "エリア名" %>
      <%= f.text_field :name %>
    </div>
    <div class="field form-group col-xs-12">
     <%= f.label :description, "エリア説明" %>
      <%= f.text_area :description ,size: "4x8", class: "form-control" %>
    </div>
    <div class="field form-group col-xs-12">
      <%= f.submit "登録" %>
    </div>
    <% end %>
    <div class="field form-group col-xs-12">
      <%= link_to '戻る',admin_areas_path %>
    </div>
  </div>
</div>