<%
  if controller.action_name == "index"
    url = spots_path(:sort => "favo")
  elsif controller.action_name == "eria_mokuteki"
    url = eria_purpose_path(:sort => "favo")
  elsif controller.action_name == "mokuteki"
    url = mokuteki_path(:sort => "favo")
  end
%>

<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 id="center">場所一覧</h1>
      <div class="iine"><%= link_to "いいねが多い順",url %></div>
      <table class="table" id="center">
        <thead>
          <tr>
            <th>エリア名</th>
            <th>目的</th>
            <th>場所名</th>
            <th>いいね数</th>
            <th>コメント件数</th>
          </tr>
        </thead>
        <% @spots.each do |spot| %>
        <tbody>
          <tr>
            <th><%= spot.area.name %></th>
            <th><%= spot.purpose.name %></th>
            <th id="font">
              <%= link_to spot_path(spot.id) ,style:"color: #00a1e9;" do %>
              <%= spot.name %>
              <% end %>
            </th>
            <th><%= spot.favorites.count %></th>
            <th><%= spot.spot_comments.count %></th>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>
<%= paginate @spots %>