<div class="container">
  <div class="row">
    <div class="col-6">
      <h2 id="center">スポット詳細</h2>
      <div class="card">
        <img class="card-img-top"><%= attachment_image_tag @spot, :image, fallback: "no_image.jpg",size: '130x130' %><img>
        <div class="card-body">
          <h4 class="card-title">
            <%= @spot.name %>
          </h4>
          <p class="card-text">
            <%= @spot.description %>
          </p>
          <div id="favorite">
            <%= render 'public/favorites/favorite',spot: @spot %>
          </div>
        </div>
       </div>
    </div>
    <div class="col-6">
      <h2 id="center">コメントを投稿</h2>
      <div class="field">
      <%= form_with(model:[@spot, @spot_comment], local: true) do |f| %>
        <%= f.text_area :comment, placeholder: "コメント、感想などをここに" ,size: "18x11", class: "form-control" %>
        <p id="spot1"><%= f.submit "投稿する",class:"btn btn-success" %></p>
      <% end %>
      </div>
    </div>
  </div>
</div>
<div class="album">
  <div class="container">
  <div class="row">
    <h3 class="text-center">コメント一覧</h3>
    <p>コメント件数：<%= @spot.spot_comments.count %></p>
    <% @spot_comments.each do |spot_comment| %>
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">
            <%= spot_comment.user.age %>
            <%= spot_comment.user.name %>
          </h4>
          <p class="card-text">
            <%= spot_comment.comment %>
          </p>
          <% if spot_comment.user == current_user %>
            <%= link_to "削除", spot_spot_comment_path(spot_comment.spot, spot_comment), method: :delete %>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  </div>
</div>
<%= paginate @spot_comments %>