<h1 id="center">スポット一覧</h1>
<h2 id="center"><%= link_to "追加",new_admin_spot_path %></h2>
<div class="album" id="center">
  <div class="container">
    <div class="row">
      <% @spots.each do |spot| %>
      <div class="col-md-4">
        <div class="card md-4">
          <div class="card-imag-top text-center">
            <%= attachment_image_tag spot, :image, fallback: "no_image.jpg", size: '300x200' %>
          </div>
          <div class="card-body">
            <p class="card-text-center" id="font">
              <%= spot.name %>
              <%= link_to "編集",edit_admin_spot_path(spot.id) %>
              <%= link_to "削除",admin_spot_path(spot.id), method: :delete %>
            </p>
            <p><%= spot.description %></p>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
<%= paginate @spots %>