<h1>ユーザー編集</h1>
<%= form_with model:@user, local:true do |f| %>
<div class="field">
  <%= f.label :age %><br />
  <%= f.select :age ,[["10代", "10代"], ["20代", "20代"], ["30代", "30代"], ["40代", "40代"], ["50代以上", "50代以上"]], include_blank: "選択して下さい" %>
</div>
  <%= f.label :name %><br />
  <%= f.text_field :name, autofocus: true %>
</div>
<div>
  <%= f.submit "更新" %>
</div>
<div>
  <%= link_to '戻る',users_path %>
</div>
<% end %>