<div class="container">
  <div class="row">
      <div class="col-4">
        <h2>ようこそ!　<%= @user.name %>さん</h2>
        <% if @user == current_user %>
        <p><%= link_to "編集する",edit_user_path(@user.id),class: 'btn btn-success' %></p>
        <% end %>
      </div>
  </div>
</div>
<h2 class="text-center">投稿したコメント一覧</h2>
  <div class="album" id="center">
    <div class="container">
      <div class="row">
        <% @spot_comments.each do |spot_comment| %>
        <div class="col-md-4">
          <div class="card md-4" style="weight: 300px; height: 300px">
            <div class="card-title">
              <%= link_to spot_path(spot_comment.spot.id) do %>
              <%= spot_comment.spot.name %>
              <% end %>
            </div>
            <div class="card-body">
              <%= spot_comment.comment %>
              <% if spot_comment.user == current_user %>
              <%= link_to "削除", spot_spot_comment_path(spot_comment.spot, spot_comment), method: :delete %>
              <% end %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <%= paginate @spot_comments %>
